version: 2.1

commands:

  install-conda:
    steps:
      - run:
          name: Installing Conda
          command: |
            wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
            bash Miniconda3-latest-Linux-x86_64.sh -b -p $HOME/conda
            export PATH=$HOME/conda/bin:$PATH
            echo 'export PATH=$HOME/conda/bin:$PATH' >> $BASH_ENV
            conda install -y python=3

  install-pytorch:
    steps:
      - run:
          name: Installing PyTorch
          command: |
            conda install pytorch -yc pytorch-nightly
            conda install -y numpy scipy

  install-cuda:
    steps:
      - run:
          name: Installing CUDA
          command: |
            wget http://developer.download.nvidia.com/compute/cuda/10.2/Prod/local_installers/cuda-repo-ubuntu1604-10-2-local-10.2.89-440.33.01_1.0-1_amd64.deb
            sudo dpkg -i cuda-repo-ubuntu1604-10-2-local-10.2.89-440.33.01_1.0-1_amd64.deb
            sudo apt-key add /var/cuda-repo-10-2-local-10.2.89-440.33.01/7fa2af80.pub
            sudo apt-get update
            sudo apt-get -y install cuda

  build-csprng:
    steps:
      - run:
          name: Building CSPRNG
          command: python setup.py install

  run-tests:
    steps:
      - run:
          name: Running tests
          command: python test/test_csprng.py

jobs:

  build-nvcc:
    machine:
      image: ubuntu-1604:201903-01
    resource_class: gpu.small
    steps:
      - checkout
      - install-conda
      - install-pytorch
      - install-cuda
      - build-csprng
      - run-tests

  build-cc:
    machine:
      image: ubuntu-1604:201903-01
    resource_class: large
    steps:
      - checkout
      - install-conda
      - install-pytorch
      - build-csprng
      - run-tests

  build-cc-pip:
    machine:
      image: ubuntu-1604:201903-01
    resource_class: large
    steps:
      - checkout
      - run:
          name: Checking versions
          command: |
            python --version
            python3 --version
            pip --version
            pip3 --version

workflows:
  version: 2
  build_and_test:
    jobs:
      - build-nvcc
      - build-cc
